@font-face {
    font-family: LeagueGothic;
    src: url("fonts/LeagueGothic-Condensed.woff2");
    font-display: swap;
}

@font-face {
    font-family: LeagueGothicItalic;
    src: url("fonts/LeagueGothic-CondensedItalic.woff2");
    font-feature-settings: "kern";
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: monono;
    src: url("fonts/monono-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: FABLAB;
    src: url("fonts/Fablab.woff2");
    font-display: swap;
}


:root{
    --background: #002db3;
    --positive: #002db3;
    --negative: #ff6600;
    --secondary: oklch(72.1% 0.175 35.3);
}

body { 
    font-family: LeagueGothic; 
    color: var(--negative);
}
r {color: red;}
g {color: limegreen;}
o {color: coral;}

.remark-slide-content {
    background-color: var(--background);
    padding: 36px 48px;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-family: FABLAB;
    text-transform: uppercase;
    font-size: 56px !important;
    line-height: 1;
    margin: 0;
}


em {
    font-family: LeagueGothicItalic;
}

ul {
    font-size: 24px !important;
}


p, li {
    font-size: 48px;
    margin: 0;
}



img {
    width: 100%;
}


a {
    color: var(--secondary);
    text-decoration: underline 4px;
}


.remark-code, .remark-inline-code { 
    font-family: monono;
    background-color: var(--negative);
    color: var(--positive);
    font-size: 20px;
    padding: 12px 8px 12px 8px;
    vertical-align: middle;
    margin: 0 4px;
}

.remark-inline-code {
    display: inline;
}

.remark-code{
    display: table;
}

.remark-slide-number {
    display: none;
}


.right {
    width: 50%;
}


.left img {
    width: auto;
    max-height: 75vh;
}

.red {
    color: red;
}