@font-face {
    font-family: monono;
    src: url(../../fonts/monono-Regular.otf);
}

:root {
    --main-color: white;
    --main-width: 960px;
    --slider-width: 720px;
    --main-height: 360px;
    --image-height: 50vh;
    --h1: 36px;
    --h1-leading: 36px;
    --h2: 24px;
    --body: 16px;
    --line-height: 1.2rem;
    --letter-spacing: 0.04rem;

    --gap: 48px;

    --space-xxxs: 4px;
    --space-xxs: 8px;
    --space-xs: 16px;
    --space-s: 24px;
    --space-m: 48px;
    --space-l: 96px;
    --space-xl: 196px;

    --highlight: oklch(85.88% 0.286 142.94);
    --text: black;
    --secondary: grey;
    --background: oklch(97.65% 0.042 142.94 / 70.35%)
}


html,
body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: var(--main-width);
    margin: var(--space-s) auto;
    padding: 0;
    background-color: var(--background);
    font-family: monono;
    font-size: var(--body);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    scroll-behavior: smooth;
}

main {
    display: grid;
    grid-auto-flow: row;
}

main > *{
    border-top: 4px solid var(--highlight);
}

main > *:nth-child(1) {
    border-top: 0 !important;
}

menu {
    border-top: 1px solid black;
    position: fixed;
    bottom: 0px;
    padding: 0;
    padding-top: var(--space-xs);
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: var(--main-width);
}

.weeks {
    display: flex;
    gap: var(--space-s);
}

.other {
    justify-self: end;
    display: flex;
    gap: var(--space-s);
}

h1, h2, h4, p, section {
    padding: var(--space-s) 0;
    margin: 0;
    font-weight: normal !important;
}

h1 {
    font-size: var(--h1);
    line-height: var(--h1-leading);
}

a {
    color: var(--highlight);
    text-decoration-color: var(--highlight);
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
}

ul {
    margin: 0 var(--space-xs);
    padding: 0;
    padding-top: var(--space-s);
}

li {
    padding-bottom: var(--space-xxs);
}

li:last-child {
    padding-bottom: 0;
}

code {
    background-color: oklch(83.24% 0.123 54);
    padding: var(--space-xxxs) var(--space-xxs);
    font-family: monono;
}

p + ul {
    padding-top: 0px;
}

li > ul {
    padding-top: var(--space-xxxs);
}

section {
    padding: var(--space-s) 0 var(--space-m) 0;
}

.spacer-m{
    padding-top: var(--space-m);
    border-top: none;
}

@media only screen and (max-width: 1080px) {
    :root {
        --main-width: 90%;
    }
}
